[data-theme="light"] {
  --primary-color: #37aff0;
  --secondary-color: #6c6ca2; /* #cbcccd; */
  --font-color: #fff;
  --bg-color: #fff;
  --heading-color: #000;
  --sidebar-color: #161625;
  --active-color: #818cab;
  --card-color: #fff;
  --card-font-color: #000;
}

[data-theme="dark"] {
  --primary-color: #37aff0;
  --secondary-color: #6c6ca2;
  --font-color: #fff;
  --bg-color: #161625;
  --heading-color: #e1e1ff;
  --sidebar-color: #161625;
  --active-color: #818cab;
  --card-color: #343a40;
  --card-font-color: #fff;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  touch-action: manipulation;
}



/* Hero Section */
.hero {
  position:relative;
  background-color:#333;
  background-image: url(img/splash1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:local;
  background-position: top;
  height: 120%;
  margin-top: -60px;

}
.hero::before {
  content:'';
  width:100%;
  position:absolute;
  height:100%;
  background:rgba(2,2,2,.3);
}

.hero .hero_content {
  position:relative;
  z-index:99;
  padding:170px 0;
  background:transparent;
  border-radius:0;
}
.hero .hero_content h1, .hero .hero_content p {
  color:#fff;
}
/* iphone 8+ landscape */
@media (max-width:737px) and (max-height:500px){
  .hero .hero_content {
      padding:50px 0;
      margin-top: 10px;
  }

 .intro, .intro2 {
  margin-top:-5%;
 }

 .card-body {
  height: 450px;
}
.navbar {
  margin-top: -15px;
}

.navbar-nav {
  margin-top: -15px;
}

}

/* iphone x later horizontal */
@media (min-width:738px) and (max-height:500px){
  .hero .hero_content {
      padding:15px 0;
      margin-top: 20px;
 }
 .navbar {
   margin-top: -15px;
 }
}

/*end hero*/

#about, #services, #portfolio, #testimonials, #contact {
  overflow-x: hidden;
  width: 100%;
}

h1 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1rem;
}

.card {
  background-color: var(--card-color);
}

h5, .card-body {
  color: var(--card-font-color) !important;
}

@media (min-width 737px){
  .display-4 {
    font-size: 2.2rem;
  }
  .lead {
    font-size: 20% !important;
  }
}

/* Most Mobile Devices */
@media (max-width:737px ) {
  .half-panel {
    width: 60%;
    height: 90%;
    margin-top: 40px;
    position: relative;
    left: 20%;
  }
  .nav-link {
    font-size: 1.75rem;
  }

  .custom-switch {
    transform: scale(1.6,1.6);
    margin-left: -50px;
    padding-top: 10px;
  }

  .blank-space {
    padding: 7px;
    visibility: visible;
  }

  /* .navbar {
    max-height: 80px;
  } */

  .hello {
    margin-top: 30px;
  }

  .learn-more {
    margin-top: 80px;
  }

  .testimonial1 .testi1 h5 {
    line-height: 30px;
    font-size: 1.1rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  .card-body {
    height: 375px;
  }

  .card-body1 {
    height: 460px;
  }

 
}

.scrolled-down{
  transform:translateY(-100%); transition: all .3s ease-in-out !important;
  
  }
.scrolled-up{
  transform:translateY(0); transition: all .3s .3s ease-in-out !important;
  }

.navbar {
  z-index: 999;
  margin-top: -1px;
}

.navbar-blur-dark {
  z-index: 999;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background:rgba(0,0,0,0.5);
}

.navbar-blur {
  z-index: 999;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.navbar-nav {
  align-items: center;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus, 
 {
  color: var(--primary-color);
  text-decoration: none;
}

.navbar-brand {
  color: #fff;
}

/* .mobile-navbar-dropdown {
  max-height: 100%;
  margin-top: -14px;
}

.mobile-navbar-collapsed {
  max-height: 75px;
  margin-top: -14px;
} */


/* Change navbar styling on scroll Large Devices */
@media (min-width: 992px) {

  .half-panel {
    width: 100%;
    height: 80%;
    margin-top: 40px;
    position: relative;
  }

  .card-body {
    height: 350px;
  }
}

@media (max-width: 415px){
  .half-panel {
    width: 90%;
    height: 100%;
    margin-top: 40px;
    position: relative;
    padding-bottom: 60px;
    left: 5%;
  }
  .btn {
    transform: scale(1.2,1.2);
  }
}

/* iPhones horizontal */
@media (max-height: 415px) {
  .display-4 {
    font-size: 2rem;
  }
  .lead {
    font-size: 1.25rem;
  }
  .nav-link {
    font-size: 1.5rem;
  }
  .custom-control {
    transform: scale(1.4,1.4);
    margin-right: 20px;
  }
  .fade-in-delay3 {
    margin-top: -8px !important;
  }
  .hello {
    margin-top: 16%;
  }
}

/* ipads */
@media (min-width: 750px) {
  .half-panel {
    width: 90%;
    height: 100%;
    margin-top: 40px;
    position: relative;
    padding-bottom: 60px;
    left: 5%;
  }
  .nav-link {
    font-size: 2rem;
  }
  .custom-control {
    transform: scale(1.8,1.8);
    padding-top: 8px;
    margin-left: -50px;
  }

  .hello {
    margin-top: 80px;
  }

  .lead {
    font-size: 1.75rem;
  }

  .learn-more {
    margin-top: 80px;
  }

  .btn {
    transform: scale(1.4,1.4);
  }
  .content {
    font-size: 1.5rem;
  }

  .display-4 {
    font-size: 4rem;
  }

  h4 {
    font-size: 2rem;
  }

  .list-items {
    font-size: 1.3rem;
  }

  .testimonial1 .testi1 h5 {
    line-height: 35px;
    font-size: 1.5rem;
  }

}
@media (max-width: 992px) {
  .custom-control{
    padding-bottom: 15px;
  }

}

@media (min-width: 1200px){
  .half-panel {
    width: 100%;
    height: 45%;
    margin-top: 90px;
    position: relative;
    padding-bottom: 60px;
    left: 5%;
  }
  .blank-space {
    visibility: hidden;
  }
  .navbar {
    max-height: 60px;
  }
  .nav-link {
    font-size: 1.25rem;
  }
  .custom-switch {
    transform: scale(1.2,1.2);
    margin-left: 25px;
    margin-top: -10px;
  }

  .hello {
    margin-top: 50px;
  }

  .lead {
    font-size: 1.75rem;
  }

  /* #about{
    padding-top: 50px;
  } */

}

@media (min-width: 1365px){
  .half-panel {
    width: 95%;
    height: 80%;
    margin-top: 90px;
    position: relative;
    padding-bottom: 60px;
    left: 5%;
  }
}
/* Change navbar styling on scroll XLarge Devices */
@media (min-width: 1900px) {

  .half-panel {
    width: 80%;
    height: 100%;
    margin-top: 40px;
    position: relative;
}
}

/* Change navbar styling on small viewports */
/* @media (max-width: 991.98px) {
  .navbar-toggler, .logo1 {margin-top: -4px;}
  .navbar .navbar-brand, .navbar .nav-link{
      color: #fff;
  }

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: var(--primary-color);
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #fff;
}
} */

.intro {
  padding-top: 8%;
  width: 100%;
}

.intro2 {
  padding-top: 4%;
  width: 100%;
}

.content {
  
  text-indent: 10%;
  padding-left: 2rem;
  padding-right: 2rem;
  top: 1rem;
  line-height: 2;
}

.btn-primary {
  background-color: #5757bd;
  border-color:transparent;
  
}

.btn-primary:hover {
  background-color: #5c5cc9;
  border-color:transparent;
}

.btn-primary:active {
  background-color: #5c5cc9 !important;
  border-color:transparent !important;
}

.list-items li {
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}


.jumbotron {
  text-align: center;
  background-color: var(--bg-color);
}
#home, #contact {
  color: white;
}


#services {
  background-color: var(--bg-color);
  color: var(--heading-color);
}

.systems {
  color: var(--heading-color);
}

h1, h2, h4{
  text-align: center;
}

.row {
  width: 100vw;
  background-color: var(--secondary-color);
  margin-left: 0;
}

.row-projects {
  max-width: 100%;
  color: var(--heading-color);
}

.project-div {
  height: 100%;
  width: 100%;
}

.bg-color {
  background-color: var(--bg-color);
}

.row-services {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.row-contact {
  width: 100;
}

.row-services-heading {
  width: 100%;
  /*center content inside div*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-txt {
  max-width: 430px;
  color: white;
}

.card-header {
  background-color: var(--bg-color);

}

/* .bg-img {
  position: relative;
  width: 100%;
  height: auto;
  
  
} */

/* .bg-img img {
  width: 100%;
  height: 102vh;
  margin-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  z-index: -1;
  
}  */

.button-phoenix {
  position: absolute;
  left: 50%;
  width: 200px;
  transform: translate(-50%, 20%);
  
}

.phoenix {
  padding-bottom: 100px;
}

.slideinleft.is-visible {
animation: slideinleft .8s 0s 1 normal forwards;
}

.slideinright.is-visible {
  animation: slideinright .8s 0s 1 normal forwards;
  }

.fade-in.is-visible {
  opacity: 0;
  animation-fill-mode: forwards;
  animation: fadein 2s .2s 1 normal forwards;
}
.fade-in-delay.is-visible {
  opacity: 0;
  animation-fill-mode: forwards;
  animation: fadein 2s 1.5s 1 normal forwards;
}

.fade-in-delay2.is-visible {
  opacity: 0;
  animation-fill-mode: forwards;
  animation: fadein 2s 3s 1 normal forwards;
}

.fade-in-delay3.is-visible {
  opacity: 0;
  animation-fill-mode: forwards;
  animation: fadein 2s 3.8s 1 normal forwards;
}

.fade-in {
  opacity: 0;
  animation-fill-mode: forwards;
  animation: fadein 2s .2s 1 normal forwards;
}
.fade-in-delay {
  opacity: 0;
  animation-fill-mode: forwards;
  animation: fadein 2s 1.5s 1 normal forwards;
}

.fade-in-delay2{
  opacity: 0;
  animation-fill-mode: forwards;
  animation: fadein 2s 3s 1 normal forwards;
}

.fade-in-delay3.is-visible {
  opacity: 0;
  animation-fill-mode: forwards;
  animation: fadein 2s 3.8s 1 normal forwards;
}

.hidden{
  visibility: hidden;
}

@keyframes slideinleft {
  from{
    margin-left: -120%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slideinright {
  from{
    margin-right: -120%;
  }
  to {
    margin-right: 0%;
  }
}

@-webkit-keyframes slideinright1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200%); 

  }
  10% {
    -webkit-transform: translateX(180%); 

  }
  20% {
    -webkit-transform: translateX(160%); 

  }
  30% {
    -webkit-transform: translateX(140%);

  }
  40% {
    -webkit-transform: translateX(120%);

  }
  50% {
    -webkit-transform: translateX(100%);

  }
  60% {
    -webkit-transform: translateX(80%);

  }
  70% {
    -webkit-transform: translateX(60%);

  }
  80% {
    -webkit-transform: translateX(40%);

  }
  90% {
    -webkit-transform: translateX(20%);
 
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slideinright1 {
  0% {
    opacity: 0;
    transform: translateX(200%); 
    -ms-transform: translateX(-40%);
  }
  10% {
    transform: translateX(180%); 
    -ms-transform: translateX(-50%);
  }
  20% {
    transform: translateX(160%); 
    -ms-transform: translateX(-50%);
  }
  30% {
    transform: translateX(140%);
    -ms-transform: translateX(-60%); 
  }
  40% {
    transform: translateX(120%);
    -ms-transform: translateX(-60%); 
  }
  50% {
    transform: translateX(100%);
    -ms-transform: translateX(-60%); 
  }
  60% {
    transform: translateX(80%);
    -ms-transform: translateX(-60%); 
  }
  70% {
    transform: translateX(60%);
    -ms-transform: translateX(-60%); 
  }
  80% {
    transform: translateX(40%);
    -ms-transform: translateX(-60%); 
  }
  90% {
    transform: translateX(20%);
    -ms-transform: translateX(-60%); 
  }
  100% {
    transform: translateX(0%);
    -ms-transform: translateX(-60%); 
  }
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeout {
  100% {opacity: 1;}
  0% {opacity: 0;}
}

/*
  animation-name: example;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

Shorthand
  animation: nameEx 5s linear 2s infinite alternate;
}*/

#Magic-Carousel {
  display:flex;
  text-align: center;
}

.slider-image {
  height: 250px;
  margin: 0 25px;
  padding: 10px;
}
.carousel-control-next, .carousel-control-prev{ 
  background-color: black;
  display: none;
}

.bg-dark {
  border-radius: 2px;
}

.footer-text {
  text-align: right;
  padding-right: 10px;
  color: var(--heading-color);
}

.service1 {
  background-image: url(img/colorful-mac-side.jpg);
  width: 100%;
  height: 100%;
  margin-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  min-height: 400px;
}
.service2 {
  background-image: url(img/laptop-repair.jpg);
  width: 100%;
  height: 100%;
  margin-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  min-height: 600px;
}
.service3 {
  background-image: url(img/clean-dark-desk.jpg);
  width: 100%;
  height: 100%;
  margin-top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  min-height: 600px;
}

.slice-pane {
  background-color: var(--bg-color);
}

#portfolio {
  background-color: var(--secondary-color);
}

#testimonials {
  margin-top: 5%;
  background-color: var(--secondary-color);
}

.project1 {
  width: 100%;
  height: 100%;
  margin-left: 15px;
  padding-top: 15px;
  margin-right: 15px;
  padding-right: 20px;
  
}

.resize-img {
  max-height: 432px;
}

.row-reviews {
  background-color: var(--bg-color);
  margin-top: -35px;
}

.text-color {
  color: var(--card-color);
}

.reviews-bg {
  background-color: var(--secondary-color);
}

.testimonial1 h1,
.testimonial1 h2,
.testimonial1 h3,
.testimonial1 h4,
.testimonial1 h5,
.testimonial1 h6 {
  color: #3e4555;
}

.testimonial1 .bg-light {
  background-color: #f4f8fa !important;
}

.testimonial1 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.testimonial1 .testi1 .card-body {
  padding: 35px;
}

.testimonial1 .testi1 .thumb {
  padding: 10px 20px 10px;
  padding-left: 90px;
  margin-left: -35px;
}

.testimonial1 .testi1 .thumb .thumb-img {
  width: 60px;
  left: 20px;
  top: -10px;
}



.testimonial1 .testi1 .devider {
  height: 1px;
}

